.tooltip {
  display: inline-block;
  position: relative;
  text-align: left;
  h3 {
    margin: 12px 0;
  }
  &:hover .top {
    display: block;
  }
  .top {
    min-width: 150px;
    max-width: 300px;
    text-align: center;
    top: -20px;
    left: 50%;
    transform: translate(-30%,-100%);
    padding: 10px 20px;
    color: #ffffff;
    background-color: #009cdc;
    font-weight: normal;
    font-size: 14px;
    border-radius: 8px;
    position: absolute;
    z-index: 99999999;
    box-sizing: border-box;
    box-shadow: 0 1px 8px rgba(0,0,0,0.5);
    display: none;
    i {
      position: absolute;
      top: 100%;
      left: 30%;
      margin-left: -15px;
      width: 30px;
      height: 15px;
      overflow: hidden;
      &::after {
        content: '';
        position: absolute;
        width: 15px;
        height: 15px;
        left: 50%;
        transform: translate(-50%,-50%) rotate(45deg);
        background-color: #009cdc;
        box-shadow: 0 1px 8px rgba(0,0,0,0.5);
      }
    }
  }
}

