.container__weatherView {
    margin-left: 5%;
    background-color: white;
    padding: 5px 0 5px 15px;
    border-radius: 11px;
    width: 20%;
  &--error {
    color: red;
    font-size: 16px;
  }
}